*  {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
body{
        font-family: 'Open Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #333;
        padding-top: 90px;
}
.container{
        max-width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
}
.logo img{
        width: 128px;
        height: auto;
}
.logo {
        height: 90px;
	float: left;
        display: flex;
        align-items: center;
}
.navbar{
        height: 90px;
        line-height: 90px;
}
header {
	background: #fff;
	width: 100%;
        position: fixed;
	top: 0;
	left: 0;
	z-index:100;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
#menu-icon ul {
	list-style: none;
        float: right;
}
.menu{
        position: fixed;
}
a.active{
        color:#f33670;
        border-bottom: 2px solid #fcc626;
        padding-bottom: 10px;
        font-weight: 700;
}
a.active:hover{
        text-decoration: none;
}
nav li {
	display: inline-block;
        margin: 0 20px 0 20px;
} 
 nav li a  {
	padding:8px 4px;
	text-decoration: none;
	color:#555;
        padding-bottom: 10px;
        font-weight: 400;
        font-size:16px;
}
.header-menu a:hover {
	border-bottom: 2px solid #fcc626;
}
#menu-icon {
        display: hidden;
	width: 32px;
	height: 32px;
        display: none; 
        font-size: 24px;
}
.header-menu{
        float: right; 
}
.header-menu .button{
        font-size: 14px;
}
.button{
	text-decoration: none;
	background-color:#f33670;
	border: none;
	color: #fff;
	display:inline-block; 
	cursor: pointer;
        padding: 8px 18px;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        border: none;
        line-height: 20px;
}
ul .button{
        border-bottom: none;        
}
.button:hover{
        color: #fff;
        opacity: 0.8;
}
.article.button-btn1{
        padding-bottom:100px;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.top-header
{
        background-color:#e5eaee;
        padding-top:100px; 
        padding-bottom: 50px;
}
h2{
	text-align: center;
	font-size:36px;
        padding-bottom: 80px;
        font-weight: 300;
	color:rgb(61, 61, 61);
	line-height:48px;
        max-width: 800px;
        margin:auto; 
           
}
.top-header img{
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
        padding-top: 20px;
}
.home-sign{
    padding: 100px 0;
}
h4.mid-heading{
	text-align: center;
        line-height: 36px;
	font-size: 24px;
	color:rgb(51, 51, 51);
        padding-bottom: 60px;
	font-weight: 300;	
}
.container.button-btn{
        text-align: center;
}
.days{
	display: inline-block;
}
.days span{
        display:block;
}
.time{
	color: #afafaf;
	font-weight: 500;
	font-size: 18px;
	padding: 13px 0 60px 0;
}
span{
	font-size:50px;
        font-weight: 300; 
        color:#494949;
}
.box{
	background-color: rgb(229, 234, 238);
        padding: 100px 0 20px 0;
}
h3.content-heading{
        color:rgb(74, 74, 74);
        font-size: 54px;
        font-weight: 300;
        line-height: 52px;
        margin-bottom: 25px;
        text-align: center;
}
.article p{
	text-align: center;
	
	color:rgb(77, 77, 77);
	font-size: 24px;
        line-height: 36px;
        font-weight: 300;
}
.article p.mid-sub-heading{
        margin-bottom: 100px;
}
.section3 h3.content-heading {
        margin-bottom: 50px;
}
.grid-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between; 
            
}
.content-wrapper{
        width: 50%;
        padding: 0 20px;
        margin-bottom: 80px;
        
}
.clearfix:after{
    	clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
}
.row{
        margin-right:-15px;
        margin-left: -15px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        border-bottom: 1px solid #4d4b4b;
 }
 /*.col-md-6{
     max-width: 50%;
     flex: 0 0 50%;
    padding-right: 15px;
    padding-left: 15px;
 }*/
 .my-icon{
	float: left;
} 
.my-content{
	margin-left: 80px;
	color:#058780;
        font-weight: 400;
	font-size: 20px;
	line-height:1.5;
        margin-bottom: 10px;
        text-align: left;
}
.col-md-4{
        max-width:33.33%;
        flex: 0 0 33.33%;
        padding-right: 15px;
        padding-left: 15px;
}
.col-md-3{
        max-width:25%;
        flex: 0 0 25%;
        padding-right: 15px;
        padding-left: 15px;
}
.box1{
	background-color:white;
        padding: 100px 0 20px 0;
}
box2{
    	background-color:white;
}
.banner{
        background-image: url('images/work.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
}
.banner:after{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background:#01a79dd6;
}
.trans-box{
	position: relative;
	z-index: 99;
        padding: 100px 0;
}
.my-container1 h3.content-heading.content1{
	font-size:54px;
	line-height: 52px;
	text-align: center;
        margin-bottom:50px;
	color:#ffffff;
	font-weight: 300;
}
.video-container{
	text-align: center;
}
video{
        height: auto;
}
.home-sign-up{
        padding: 90px 0;
}
input[type=text]{
	border: none;
	border-bottom: 1px solid #eaeaea;
	padding: 4px;
	font-size: 16px;
        font-weight: 300;
         line-height: 20px;   
	color:#eaeaea;
        margin: 9px 30px 0 0;
}
.sign-up h3{
        font-size:30px;
        font-weight: 300;
        line-height: 52px;
	color:rgb(74, 74, 74);
        margin-right: 30px;
}
.login-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.signupbtn{
	background:#f33670;
	border: none;
	color: white;
	display:inline-block; 
	cursor: pointer;
        font-size: 16px;
        border-radius: 20px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 30px 0 30px;
        padding: 10px 16px;
        min-width: 120px;
}
.signupbtn:hover{
        cursor: not-allowed;
        border-color: #2e6da4;
        background-color: #337ab7;
}
.column{
	padding: 0 15px;
}
.col1{
	width:40%;
}
.col4{
	width:30%;
}
.col2,.col3{
	width:15%;
}
.docub-footer{
        padding: 90px 0 20px;
}
h4.docub-footer-top{
        color:#00aea4;
	font-size:18px;
	font-weight: 300;
        text-align: left;
	line-height:24px;
        padding-bottom: 16px;
}
.docub-footer p{
        margin: 0;
        padding: 0 8px 0 0;
        font-weight: 300;
	font-size: 14px;
	text-align: left;
	color:#6e6e6e;
	line-height:24px;
}
.docub-footer a{
        color:#6e6e6e;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #6e6e6e;
        border-bottom: none;
        text-decoration: none;
}
.docub-footer a:hover{
        color: #f4f4f4;
}
.docub-footer li{
        list-style: none;
        padding-bottom: 20px;
}
p .company-name{
        font-weight: 400;
}
.footer-contact p{
        margin: 0 0 20px 0;
        line-height: 20px;
}
footer{
	background-color:#1e1e1e;
}
.footer-outerlink .footer-btm-text{
        margin:16px 0 0;
        line-height: 16px;
        font-size:14px;    
        color: #00aea4;
        text-decoration: none;
}
.footer-outerlink{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.docub-innerlink{
        margin: 0 15px;
}
.social-icon a{
        height:45px;
        width:45px;
        padding: 12px;
        margin-right: 25px;
        border-radius: 100%;
        text-decoration: none;
        border:3px solid #f9cd46;
        color:#f9cd46;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
}

/*----------------------------feature page---------------------------------*/
.section1 h3.content-heading {
        margin-bottom: 50px;
}
.box11{
	background-color: rgb(229, 234, 238);
        padding: 100px 0;
}
h3.content-heading2{
        color:#00aea4;
        font-size: 32px;
        line-height: 1.5;
        font-weight: 400;
        padding-left: 20px;
        padding-bottom: 60px;
}
.block{
        margin-bottom: 80px;
}
.content-wrapper-content{
        width: 40%;
        padding: 0 20px;
        padding-right: 100px;
}
.content-wrapper-img{
        width: 60%;
}
.wrapper{
        margin-bottom: 80px;
}
h4.content-heading1{
        font-size: 18px;
        color:#3a3a3a;
        font-weight:600;
        margin-left: 70px;
        line-height: 1.5;
}
.clearfix:after{
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
}
.my-content-data{
        color:#969595;
        font-weight: 400;
	font-size: 14px;
	line-height:26px;
        margin-bottom: 25px;
        padding-top: 30px;
}
.my-content .content{
        color:#969595;
}
.img-content{
        width: 100%;
        height: 100%;
       
}
ul.inner-links li{
        list-style: none;
        line-height: 1.5;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 25px;
}
.first-link {
        color:#f33670;
}
.second-link{
        color:#2a2a2a;
}
.test{
        position: relative;
}
.direction{
        position: absolute;
        top: 25px;
        right: -70px;
}
.content-wrapper1{
        width: 40%;
        padding: 0 20px;
        padding-left: 100px;
}
.direction-icon{
        position: absolute;
        top: 15px;
        left: -85px;
}
.block1{
        padding-bottom: 40px;
}
.content-wrapper2{
        width:50%;
        padding: 0 20px;
        margin-bottom: 60px;
}
.xyz{
        display: flex;
        flex-wrap: wrap;
}
.abc{
        display: flex;
        flex-wrap: wrap;
}


/*---------------------------Pricing-page---------------------------------------*/

.box12{
        background-color:#f1f3f5;
        padding: 100px 0;
}
.block11{
        width: calc(25% - 19px);
        border: 1px solid #e0e2e3;
        box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        border-radius: 25px 25px 25px 25px;
        padding-bottom: 30px;
        padding-top: 40px;
}
.blck-heading{
        text-align: center;
        font-size: 32px;
        color:#00aea4;
        margin-bottom: 40px;
}
.vehicle{
        margin-left: auto;
        margin-right: auto;
        display: block;
}
.pqr{
        border-bottom: 2px solid #ebebeb;
        margin: 0 20px 20px 20px;
}
.blk-content{
        padding: 20px 20px;
        color: #545353;
}
.option-link{
        color:#71acd4;
        font-size: 16px;
}
.option-link1{
        padding:50px 20px 70px 20px;
}
.btn-group{
        display: flex;
        justify-content: center;  
}
.btn-more{
        margin: 30px 20px;
}
.box13{
        background: #ffffff;
        padding: 100px 0;
}
.parent-div{
        padding:0; 
        margin: 0; 
}
.faq{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
}
.faq-heading{
        padding: 10px 10px;
        margin: 0; 
        color: #058780;
        font-size: 20px;
        font-weight: normal;
}
.faq-heading span{
        float: right;
}
span {
        font-size: 25px;
        font-weight: 500;
        color: #494949;
}
.faq-body{
        display: none;
        padding:20px;
        font-size: 16px;
        line-height: 26px;
        background: #f7f7f7;
        color: #8f8f8f;
}

/*-----------------------------------Support-page-------------------------------*/

.box14{
       
        padding: 0 20px;
}
/*.b-border{
    border: 2px solid #e0e2e3;
    border-radius: 25px 25px 25px 25px;
}*/
.search-bar{
        width:100%;
        padding: 0 20px;
}
input[input-type=text].search-bar{
        font-size: 30px;
        font-family: 'Open Sans', 'sans-serif';
        color:#a0a0a0;
}
input[type=text]:focus{
        outline: none;
}
.search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
}
input[type="text"].search-bar{
        font-size:16px;
        font-style: italic;
        font-weight: normal;
        padding: 30px 0 15px 0;
        border-bottom: none;
}
.forum-head{
        color:#058780;
        font-size: 24px;
        line-height: 1.5;
        font-weight: normal;
        margin-left: 50px;
}
.recent-update{
        font-size: 14px; 
        color:#12a29a;
}
.database-img{
        float: left;
}
.mid-sect{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
         padding: 30px 0 15px;
        border-bottom: 1px solid #eaeaea;
}
h3.primary-heading{
        font-size: 24px;
        color: #4c4c4c;
        line-height: 1.5;
        padding: 30px 0;
        font-weight: 400;
}
/*.content-wrapper-content1{
        width: 50%;
}
.content-heading2{
        margin-left: 30px;
        color: #464646;
        font-size: 16px;
        padding-bottom: 30px;
        font-weight: 600;
}
.content-heading3{
        color:#058780;
        line-height: 22px;
        font-weight:500;
        padding-bottom: 0;
}
.my-content-data.content-data{
        padding-top: 0;
        font-size: 13px;
}
.notification{
        margin-left: 30px;
}
.wrapper1{
        margin-bottom: 25px;
}*/

.main-heading1{
    width: 50%;
}
.content-heading2{
        margin-left: 30px;
        color: #464646;
        font-size: 16px;
        padding-bottom: 30px;
        font-weight: 600;
}
.content-heading3{
        color:#058780;
        line-height: 22px;
        font-weight:500;
        padding-bottom: 0;
}
.my-content-data.content-data{
        padding-top: 0;
        font-size: 13px;
}
.notification{
        margin-left: 30px;
}
.wrapper1{
        margin-bottom: 25px;
}
ul.tabs li{
    position: relative;
}

ul.tabs li:after{
    position: absolute;
    content: '';
    left: 0;
    left: 19px;
    bottom: -5px;
    width: 81px;
    
    
}
ul.tabs li:hover:after{
    border-bottom: 2px solid #fcc626;
}

ul.tabs {
        height: 60px;
        line-height: 60px;
        list-style: none;
}
ul.tabs li{
        display: inline-block;
        cursor: pointer;
        border-right: 1px solid #1e1e1e;
        height: 25px;
        line-height: 25px;
        padding:0 20px;
        color:#989898;
}
ul.tabs li.current{
        color:#ffffff;
}
ul.tabs li:hover{
       
        padding-bottom: 10px;
        color:#ffffff;
}
.tab-content{
        display: none;
        background: #ffffff ;
        border:1px solid #e0e2e3;
        border-radius: 0 0 25px 25px;
        border-top:none;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}
.tab-content.current{
        display: inherit;
}
.asd{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background:#4c4c4c;
        border:1px solid #e0e2e3;
        border-radius:25px 25px 0 0;
        border-bottom: none;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}
.login{
        margin: 10px 20px;
}
.box-size{
        padding:100px 50px;
}





/*-------------------Media Query--------------------------------------------------*/

@media (min-width : 992px) 
and (max-width : 1199px){
    
    .container{
        max-width: 960px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
}
    nav li{
        margin: 0 10px 0 10px;
}
    .article p{
        padding:0 50px 50px 50px;
        margin-bottom: 0;
}
    input[type=text]{
        margin: 9px 17px 0 0;
}
    .signupbtn{
        margin: 0 20px 0 20px;
}
    .box1{
        padding: 100px 0 0 0;
}
    .arrow-direction{
        width: 90px;
}
    .content-wrapper2{
        margin-bottom: 40px;
}
.blk-content {
    padding: 15px 15px;
}
.content-group{
    height: 75%;
}
}

@media (min-width: 768px) 
and (max-width: 991px){
    .signupbtn{
        margin: 0 16px 0 16px;
}
    .sign-up h3{
        width: auto;
}
    input[type=text]{
        width: auto;
        margin: 9px 25px 0 0;
}
    .my-content-data{
        padding-top: 36px;
}
}
  
 @media(max-width: 991px){
    #menu-icon{
        display:block;
        float:right;
        height: 90px;
        line-height: 90px;
}
    nav ul, nav:active ul{
        display: none;
        position: absolute;
        background: #c5c5c5;
        left: 0;
        top: 90px;
        padding: 0;
        margin: 0;
        width: 100%;
}
    nav li {
        text-align: center;
        padding:0;
        margin:12px 0;
 }
    header{
        position: absolute;
 }
    nav li{
        display: block;
}
    .navbar{
        line-height: 50px;
}
    .box1{
        padding: 100px 0 0 0;
}
    .arrow-direction{
        width: 90px;
}
    .content-wrapper2{
        margin-bottom:40px;
}
.blk-content {
    padding: 15px 15px;
}
.content-group{
    height: 75%;
}
.btn-more {
    margin: 30px 0px;
    font-size: 16px;
}
.blck-heading{
    font-size:25px;
    margin-bottom: 35px;
}
.blk-content{
  font-size:14px;  
}
}

 @media(max-width: 767px){
    h2{
        font-size: 30px;
        line-height: 1.5;
}
    h3.content-heading{
         font-size:30px;
         line-height: 1.5;
}
    .article p{
         font-size:16px;
         line-height: 1.5;
}
    .my-content{
         font-size:15px;
         line-height: 1.5;
}
    .content-wrapper{
        margin-bottom: 70px;
}
    .box1{
        padding: 100px 0 30px 0;
}
    .my-container1 h3.content-heading.content1{
        font-size: 30px;
        line-height: 1.5;
}
    .home-sign-up{
        padding: 50px 0;
}
    .sign-up h3{
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 30px;
}
    .docub-footer{
        padding: 60px 0 40px;
}
    .docub-footer li{
        padding-bottom: 10px;
} 
    nav ul, nav:active ul { 
        top: 50px;

}
    ul .button:hover{
        border-bottom:none;
}
    ul .button{
        margin: 20px 0;
}
    #menu-icon{
        display:block;
        float:right;
        height: 50px;
        line-height: 50px;
}
    .logo {
        height: 50px;
}
    .navbar{
        height: 50px;
        line-height: 50px;
}
    body{
        padding-top: 50px;
}

    nav li {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    video{
        max-width: 100%;
     }
    .column{
	width: 50%;
        margin-bottom: 30px;
}
    .direction{
        display: none;
}
    .content-wrapper-img {
        width: 100%;
}
    .content-wrapper-content{
        width: 100%;
}
    .wrapper {
        margin-bottom: 30px;
}
    .abc{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
}
    .content-wrapper1{
        width: 100%;
        padding-left:20px;
}
    .content-wrapper-content{
        padding-right: 20px;
}
    .direction-icon{
        display: none;
}
    .wrapper {
        margin-bottom: 20px;
}
    h4.content-heading1{
        padding-top: 9px;
}
    .xyz{
        margin-bottom: 50px;
}
.block11 {
        width: calc(50% - 19px);
}
.content-group {
    height: 67%;
}
.block12{
    margin-bottom: 30px;
}
.main-heading1{
    width: 100%;
}
.top-space{
    margin-top: 25px;
}
.forum-head{
    padding-bottom: 20px;
}
.mid-sect{
   display: block; 
}
.topic-btn{
    display: flex;
    justify-content: center;
}
 }

@media(max-width: 702px){
    
    .social-icon{
        padding-top: 20px;
}
    input[type=text]{
        margin: 9px 30px 20px 0;
}
    .signupbtn{
        margin: 0;
}
}

@media(max-width: 543px){
     
    h2{
        font-size: 28px;
        line-height: 1.5;
        padding-bottom: 30px;
}
    h3.content-heading{
        font-size: 29px;
        line-height: 1.5;
}
    h4{
        font-size: 23px;
        padding-bottom: 40px;
        line-height: 1.5;
}
    span{
         font-size: 42px;
}

    .time{
        padding: 13px 0 50px 0;
}
    .article p{
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 50px;
}
    .article.button-btn1{
        padding-bottom:50px;
}
    .my-content{
        font-size: 16px;
        line-height: 1.5;
}
    .box{
        padding: 70px 0 35px 0;
}
    .box1{
        padding: 70px 0 35px 0;
}
    .trans-box{
        padding:0 0 70px 0;
}
    .my-container1 h3.content-heading.content1{
        padding-top: 70px;
}
    .top-header{
        padding: 70px 0;
}
    .home-sign{
        padding: 70px 0;
}
    .navbar{
        line-height: 50px;
}
    .content-wrapper{
        width: 100%;
        margin-bottom:35px;
        padding: 0;
}
    .column{
	width: 100%;
        margin-bottom: 30px;
}
    input[type=text]{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        font-size:15px;
}
    .sign-up h3{
        margin-bottom: 30px;
}
    .social-icon a{
        margin-right: 19px;
}
    #menu-icon{
        width: 25px;
}
    .box11{
        padding: 70px 0;
}
    .my-content-data{
        padding-top: 0;
}
    h3.content-heading2{
        padding-top: 25px;
        padding-right: 0;
        padding-left: 0;
        font-size: 23Px;
}
    h4.content-heading1{
        padding-bottom: 28px;
}
    .content-wrapper2{
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
}
.plusminus{
    font-size: 25px;
}
.block11{
  width: 100%;  
}
.blk-space{
    margin-bottom: 30px;
}
.faq-heading{
    font-size: 18px;
}
}